---
layout: base.njk
title: Resume of George Soos
keywords: george soos, IT Manager, IT Systems Administration, Cybersecurity, IT Operarions, cv, portfolio
description: George Soos
---

{% include "partials/_hero.njk" %}
{% include "partials/_about.njk" %}
{% include "partials/_skills.njk" %}
{% include "partials/_badges.njk" %}
{% include "partials/_projects.njk" %}
{% include "partials/_contact.njk" %}